@charset "utf-8";
/*
    ata2200.less
*/
:root {
  --label-ipd: 'ILLUSTRATED PARTS CATALOG';
  --label-effect: "EFFECTIVITY";
  --label-effect-all: "All";
  --label-intro: "INTRO";
  --label-sb-list: "SB LIST";
  --label-page: "Page";
  --label-dpl-tfoot: "- ITEM NOT ILLUSTRATED";
  --label-january: "Jan";
  --label-february: "Feb";
  --label-march: "Mar";
  --label-april: "Apr";
  --label-may: "May";
  --label-june: "Jun";
  --label-july: "Jul";
  --label-august: "Aug";
  --label-september: "Sep";
  --label-october: "Oct";
  --label-november: "Nov";
  --label-december: "Dec";
  --label-blankPageCenter: "INTENTIONALLY BLANK";
  --label-figure: "Figure";
  --label-sheet: "Sheet";
  --label-task: "TASK";
  --label-subtask: "SUBTASK";
  --label-warning: "WARNING";
  --label-caution: "CAUTION";
  --label-note: "NOTE";
  --label-ColonSymbol: ":";
}
