@charset "utf-8";
/*
    dita.less
*/
.skin-modal-title .default-title {
  display: none;
}
.skin-modal-title .warning-title:before {
  content: "WARNING";
}
.skin-modal-title .caution-title:before {
  content: "CAUTION";
}
.skin-modal-title .danger-title:before {
  content: "危険";
}
.skin-modal-title .note-title:before {
  content: "注記";
}
.skin-modal-title .notes-title:before {
  content: "注記";
}
.skin-modal-title .tip-title:before {
  content: "ヒント";
}
.skin-modal-title .fastpath-title:before {
  content: "ファストパス";
}
.skin-modal-title .important-title:before {
  content: "重要";
}
.skin-modal-title .attention-title:before {
  content: "注意";
}
.skin-modal-title .remember-title:before {
  content: "記憶";
}
.skin-modal-title .restriction-title:before {
  content: "制限";
}
.skin-modal-title .notice-title:before {
  content: "注記";
}
.skin-modal-title .trouble-title:before {
  content: "トラブル";
}
