body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f6f8;
  height: 100vh;
  color: #333;
  display: flex;
  overflow: hidden;
}
.container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
}
/* Адаптивные стили для мобильных устройств */
@media (max-width: 768px) {
  /* Контейнеры структуры и контента остаются рядом */
  .container {
    flex-direction: row;
  }
  .options-section {
    flex-wrap: wrap; /* Разрешаем перенос элементов */
    flex-direction: column; /* Располагаем элементы в столбик */
    align-items: center; /* Центрируем карточки */
  }
  .options-section .item-option {
    width: 100%; /* Карточки занимают всю ширину */
    max-width: 100%; /* Снимаем ограничения */
  }
  .structure {
    width: 30%; /* Уменьшаем ширину структуры на мобильных */
    min-width: 150px;
    max-width: 300px;
    border-right: 1px solid #ddd;
    border-bottom: none;
  }
  .content-area {
    width: 70%; /* Контент занимает остальную часть */
    height: 100vh;
    overflow-y: auto;
    padding: 10px;
  }
  /* Изображения на стартовой странице */
  .start-page {
    display: flex;
    flex-direction: column; /* Карточки располагаются в столбик */
    align-items: center;
    padding: 10px;
    gap: 15px; /* Расстояние между карточками */
  }
  .start-page .options-section .item-option span {
    display: none; /* Скрываем текст */
  }
  .start-page .item-option {
    width: 100%; /* Карточка занимает всю ширину */
    max-width: 100%; /* Убираем ограничения по ширине */
    margin: 0; /* Убираем отступы */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .start-page .item-option img {
    width: 100%; /* Изображение растягивается под карточку */
    height: auto; /* Сохраняем пропорции */
  }
  .start-page .options-section {
    width: 50%; /* Изображение растягивается под карточку */
    height: auto; /* Сохраняем пропорции */
  }
  .start-page .welcome-section {
    display: none; /* Скрываем текст */
  }
}
.structure {
  width: 20%;
  background-color: #fff;
  border-right: 1px solid #ddd;
  padding-top: 20px;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  transition: width 0.3s ease;
}
.hidden {
  width: 0;
  padding: 0;
  overflow: hidden;
  transition: width 0.3s ease;
}
.toggle-button {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 8px 12px;
  background-color: #0056b3;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  z-index: 20;
  font-size: 14px;
  display: flex;
  align-items: center;
  transition: background-color 0.3s, box-shadow 0.3s;
}
.toggle-button:hover {
  background-color: #004494;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.toggle-button span {
  margin-left: 5px;
}
h2 {
  font-size: 1.6em;
  color: #0056b3;
  margin-bottom: 15px;
}
.section-title {
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
  margin: 20px 0 10px;
  padding-bottom: 5px;
  border-bottom: 2px solid #ddd;
}
.options-section {
  display: flex;
  justify-content: space-around; /* Равномерное распределение элементов */
  gap: 20px; /* Расстояние между элементами */
  flex-wrap: nowrap; /* Запрещаем перенос элементов */
}
.options-section .item-option {
  flex: 1; /* Устанавливаем равную ширину для всех элементов */
  max-width: 200px; /* Максимальная ширина карточки */
  text-align: center;
}
.skin-tree {
  list-style-type: none;
  padding: 0;
}
.file-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
  transition: background-color 0.3s;
  cursor: pointer;
}
.file-item:hover {
  background-color: #e6f2ff;
}
.file-item.active {
  background-color: #d0e8ff;
  font-weight: bold;
  color: #3152BA;
}
.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 5px;
}
.icon.folder {
  background-color: #4caf50;
}
.icon.file {
  background-color: #3152BA;
}
.pdf-link {
  display: flex;
  align-items: center;
  color: #d9534f;
  text-decoration: none;
  font-size: 0.9em;
  margin-left: 10px;
  padding: 5px;
  border: 1px solid #d9534f;
  border-radius: 3px;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}
.pdf-link:hover {
  background-color: #d9534f;
  color: #fff;
}
.verge3d-link {
  display: flex;
  align-items: center;
  color: #002B8C;
  text-decoration: none;
  font-size: 0.9em;
  padding: 5px;
  border: 1px solid #002B8C;
  border-radius: 3px;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}
.verge3d-link:hover {
  background-color: #008c8c;
  color: #fff;
}
.pdf-link .icon.pdf, .verge3d-link .icon.verge3d {
  width: 18px;
  height: 18px;
  margin-right: 5px;
  background-size: contain;
  background-repeat: no-repeat;
}
.pdf-link .icon.pdf {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/8/87/PDF_file_icon.svg');
}
.verge3d-link .icon.verge3d {
  background-image: url('https://upload.wikimedia.org/wikipedia/en/thumb/b/b3/Verge3D_logo.png/237px-Verge3D_logo.png');
}
.content-area {
  width: 80%;
  padding: 0;
  position: relative;
  transition: width 0.3s ease;
}
.content-area.full-width {
  width: 100%;
}
iframe {
  width: 100%;
  height: 100%;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* Индикатор загрузки */
.loading {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-left: 2.2rem;
  margin-top: -1rem;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: darkgray;
  z-index: 100;
  display: none;
  justify-content: center;
}
.start-page {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  font-size: 1.2em;
  color: #333;
  text-align: center;
  flex-direction: column;
}
.start-page button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1em;
  background-color: #0056b3;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.start-page button:hover {
  background-color: #004494;
}
.start-page .item-option {
  margin: 20px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  padding: 15px;
  border-radius: 10px;
  background-color: #f4f8fb; /* Легкий цвет фона для карточки */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); /* Легкая тень */
  width: 180px; /* Фиксированная ширина для выравнивания */
}
.start-page .item-option img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
  transition: transform 0.3s ease; /* Плавное увеличение */
}
.start-page .item-option:hover {
  transform: scale(1.05); /* Увеличение карточки при наведении */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Усиление тени при наведении */
}
.start-page .item-option span {
  display: block;
  margin-top: 8px;
  font-weight: bold;
  color: #333;
  font-size: 1em; /* Яркий текст подписи */
}
.control-panel {
  display: flex;
  flex-direction: column; /* Кнопки располагаются вертикально */
  align-items: center;
  padding: 10px;
  gap: 10px; /* Расстояние между кнопками */
  background-color: #f4f4f4;
  border-right: 1px solid #ddd;
}
.control-button {
  width: 40px;
  height: 40px;
  background-color: #0056b3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.control-button:hover {
  background-color: #004494;
}
.control-button {
  padding: 8px;
  background-color: #fff;
  color: #0056b3;
  border: 1px solid #0056b3;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, box-shadow 0.3s;
  width: 40px;
  height: 40px;
}
.control-button:hover {
  background-color: #e6f2ff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.icon-home {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/6/66/Home_icon_blue-1.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}
.icon-logo {
  background-image: url('ref/LOGO.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}
.toggle-icon {
  font-size: 20px;
  color: #0056b3;
}
.select-message {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  display: none; /* Скрыто по умолчанию */
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  color: #333;
  text-align: center;
  flex-direction: column;
}
.skin-split-pane {
  border: .2em solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.skin-split-pane:hover {
  background-color: rgba(0, 128, 128, .1);
}
.skin-split-pane.disabled, .splitter-active iframe {
  pointer-events: none;
}
.skin-split-pane-inner {
  box-sizing: content-box;
}
.skin-split-pane.col .skin-split-pane-inner {
  height: 1em;
  width: 2px;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}
.skin-split-pane.row .skin-split-pane-inner {
  width: 1em;
  height: 2px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}
.skin-split-pane.disabled .skin-split-pane-inner {
  display: none;
}
/* Страница с просьбой повернуть устройство */
.rotate-message {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  display: none; /* Скрыто по умолчанию */
  align-items: center;
  justify-content: center;
  z-index: 1000;
  text-align: center;
}
.rotate-container {
  animation: fade-in 1.5s ease-in-out infinite;
}
@keyframes fade-in {
  0%, 100% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
}