@charset "utf-8";
/* Модальное окно */
/* Стиль для модального окна */
.modal {
    display: none; /* Окно скрыто по умолчанию */
    position: fixed; /* Окно фиксируется на экране (независимо от прокрутки страницы) */
    z-index: 1; /* Устанавливаем уровень наложения (модальное окно будет поверх других элементов) */
    left: 0; /* Располагаем окно по левому краю экрана */
    top: 0; /* Располагаем окно по верхнему краю экрана */
    width: 100%; /* Окно занимает всю ширину экрана */
    height: 100%; /* Окно занимает всю высоту экрана */
    background-color: rgba(0, 0, 0, 0.4); /* Темный полупрозрачный фон (черный с 40% прозрачности) */
}

/* Стиль для содержимого модального окна */
.modal-content {
    background-color: #fff; /* Белый фон для содержимого окна */
    padding: 20px; /* Отступы внутри окна (между краем и содержимым) */
    margin: 15% auto; /* Окно будет отцентрировано: 15% сверху и снизу, горизонтально по центру */
    width: 80%; /* Ширина содержимого окна 80% от ширины экрана */
    max-width: 800px; /* Максимальная ширина содержимого окна — 400px */
    border-radius: 10px; /* Скругленные углы окна */
    text-align: left; /* Выравнивание текста по левому краю в окне */
}

/* Стиль для заголовка h2 внутри модального окна */
.modal-content h2 {
    text-align: left; /* Выравнивание заголовка по левому краю внутри содержимого */
}

.modal-buttons {
	display: flex;  /* Используем flex для расположения кнопок в одну строку */
	width: 100%;  /* Ширина блока, чтобы кнопки занимали всю доступную ширину */
	justify-content: flex-start;  /* Размещаем кнопки слева */
}

.modal-buttons .btn-left,
.modal-buttons .btn-right {	
	flex: 1;  /* Кнопки будут занимать равное пространство, но с ограничением ширины */
	max-width: 16.66%;  /* Ограничиваем ширину каждой кнопки до 1/6 окна */
	padding: 10px;
	margin-top: 20px;
	cursor: pointer;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.modal-buttons .btn-left {
	margin-right: 10px;  /* Добавляем отступ между кнопками слева */
}

.modal-buttons .btn-right {
	margin-left: auto;  /* Перемещаем последнюю кнопку в правую часть */
}
