* {
  margin: 0; /* Убирает отступы по умолчанию у всех элементов */
  padding: 0; /* Убирает паддинги по умолчанию у всех элементов */
  box-sizing: border-box; /* Включает расчет размера элементов с учетом границ и отступов */
}
html, body {
  height: 100%; /* Устанавливает высоту для html и body на 100% */
}
body {
  font-family: 'Roboto Condensed', sans-serif; /* Устанавливает шрифт для текста на странице */
  background-color: #F4F4F4; /* Задает светлый фон для страницы */
  color: #131A22; /* Задает цвет текста на странице */
  display: flex; /* Использует флекс-контейнер для выравнивания содержимого */
  flex-direction: column; /* Устанавливает вертикальное направление элементов */
}
header {
  background-color: #131A22; /* Темный фон для заголовка */
  color: #D5CDC3; /* Светлый цвет текста в заголовке */
  padding: 20px; /* Отступы вокруг содержимого заголовка */
  text-align: center; /* Выравнивание текста по центру */
}
h1 {
  font-weight: 700; /* Устанавливает жирный шрифт для заголовка */
  margin: 0; /* Убирает отступы у заголовка */
}
section {
  flex: 1; /* Разрешает секции расширяться по мере необходимости */
  padding: 40px 20px; /* Отступы внутри секции */
  max-width: 1200px; /* Максимальная ширина секции */
  margin: 0 auto; /* Центрирует секцию */
}
h2 {
  font-weight: 600; /* Жирное начертание для подзаголовков */
  color: #3152BA; /* Синий цвет для подзаголовков */
}
p {
  font-weight: 300; /* Тонкое начертание для параграфов */
  line-height: 1.6; /* Межстрочное расстояние для лучшего восприятия текста */
  color: #131A22; /* Цвет текста для параграфов */
}
.content {
  display: flex; /* Использование флексбокса для расположения текста и изображений */
  flex-wrap: wrap; /* Позволяет элементам переходить на новую строку */
  justify-content: space-between; /* Распределяет элементы по горизонтали с равными промежутками */
  align-items: center; /* Вертикальное выравнивание элементов */
}
.content img {
  width: 48%; /* Устанавливает ширину для текстовой части */
  min-width: 576px;
  height: auto; /* Автоматически подбирает высоту изображения с сохранением пропорций */
  border-radius: 8px; /* Скругляет углы изображения */
  margin: 20px; /* Отступ для изображения */
  display: block; /* Изображение становится блочным элементом */
  margin-left: auto; /* Центрирует изображение по горизонтали */
  margin-right: auto; /* Центрирует изображение по горизонтали */
}
.content .text {
  width: 48%; /* Устанавливает ширину для текстовой части */
  min-width: 576px;
  font-weight: 400; /* Обычное начертание для текста */
}
.content .image {
  width: 48%; /* Устанавливает ширину для блока с изображением */
}
.list-container {
  margin-left: 20px; /* Отступ от основного текста для списка */
}
.list-item {
  background-color: #D5CDC3; /* Фон для элементов списка */
  padding: 10px; /* Внутренний отступ для элементов списка */
  margin: 10px 0; /* Отступы сверху и снизу для элементов списка */
  border-radius: 8px; /* Скругленные углы у элементов списка */
  min-width: auto;
}
.buttons-container {
  display: flex; /* Использование флексбокса для кнопок */
  margin-top: 0px; /* Отступ сверху для блока с кнопками */
}
.btn {
  padding: 10px 20px; /* Внутренние отступы для кнопок */
  font-weight: 500; /* Полужирный шрифт для кнопок */
  border-radius: 5px; /* Скругленные углы для кнопок */
  text-decoration: none; /* Убирает подчеркивание у текста ссылок */
  text-align: center; /* Выравнивание текста внутри кнопки */
}
.btn.continue {
  background-color: #3152BA; /* Темный синий цвет для кнопки "Продолжить" */
  color: #fff; /* Белый цвет текста на кнопке */
  position: absolute; /* Позволяет точно позиционировать контейнер с кнопками */
  right: 10px; /* Расстояние от правого края */
  top: 90px;
}
.btn:hover {
  opacity: 0.8; /* Эффект затемнения кнопки при наведении */
}
/* Медиазапрос для адаптивности: изменение ширины контента на экранах меньше 768px */
@media (max-width: 768px) {
  .content .text, .content .image {
    width: 100%; /* Устанавливает 100% ширины для текста и изображений на мобильных устройствах */
  }
}